:root {
    --color-1: #ffffff;
    --color-2: #000000;
    --color-3: #E81828;
    --color-4: #002D72;
    --color-5: #284898;
    --color-6: #6f263d;
    --color-7: #6babe4;
    --bgcolor: var(--color-6);
    --hdcolor: var(--color-7);
    --nvcolor: var(--color-5);
    --panelshade: #0000007f; 
    --header-indent: 10px;
    --smallfontsize: 65%;
    --footerfontsize: calc(var(--smallfontsize) - 15%);
    --profileimgsize: 200px;
}
* {
    font-size: 24px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    box-sizing: border-box;
    margin: 0;
}
html {
    background-color: var(--bgcolor);
}
body {
    background-image: linear-gradient(var(--color-3), var(--bgcolor));
}
main {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}
main section {
    display: flex;
    width: 100%;
}
main > section:hover {
    background-color: var(--panelshade);
}
main section h2 {
    display: flex;
    justify-content: left;
    margin-left: var(--header-indent);
}
h1, h2 {
    color: var(--hdcolor);
}
a {
    text-decoration: none;
    color: var(--color-2);
}
/* ############################################# */
/* Styling the Header Section */
header {
    display: flex;
    flex-direction: column;
    position: relative;
    width: 100%;
    min-height: 350px;
    margin-bottom: var(--header-indent);
    background-image: url('../img/skyline.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
header h1 {
    display: block;
    position: absolute;
    left: 0px;
    top: 5px;
    height: fit-content;
    margin-left: var(--header-indent);
    margin-top: var(--header-indent);
    max-width: 40%;
}
header img {
    width: var(--profileimgsize);
    display: block;
    position: absolute;
    bottom: 0px;
    left: 0px;
}
header nav {
    display: block;
    position: absolute;
    top: 5px;
    right: 0px;
    margin-top: var(--header-indent);
    max-width: 60%;
}
header nav ul {
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    align-content:flex-start;
}
header nav a {
    display: inline-block;
    color: var(--nvcolor);
    background-color: var(--color-2);
    text-decoration: underline;
    justify-content: center;
    text-align: center;
    font-weight: 900;
    height: fit-content;
    width: 145px;
    margin-bottom: 25%;
    padding: 3;
}
header nav a:hover {
    color: var(--color-1);
    opacity: 50%;
    background-color: var(--color-2);
}
/* ############################################# */
/* Styling the About Me Section */
#AboutMe p {
    color: var(--color-1);
    font-size: var(--smallfontsize);
    display: flex;
    justify-content: left;
    margin-left: var(--header-indent);
}
/* ############################################# */
/* Styling the My Work Section */
.cards {
    display: flex;
    flex-wrap: wrap;
    margin-left: var(--header-indent);
}
.card {
    display: flex;
    position: relative;
    justify-content: left;
    margin: var(--header-indent);
    flex-grow: 1;
    flex-shrink: 1;
    min-width: 200px;
    min-height: 200px;

}
.card img {
    flex-grow: 1;
    flex-shrink: 1;
    width: fit-content;

}
.card > h3 {
    display: block;
    position: absolute;
    bottom: 5px;
    left: 5px;
    transition: all 0.5s ease-in-out;
    height: fit-content;
    max-width: fit-content;
    background-color: rgba(0,0,0,0.7);
    color: var(--color-1);
    font-size: var(--smallfontsize);
}
.card:first-of-type {
    width: 100%;
}
/* ############################################# */
/* Styling the Contact Me Section */
#ContactMe ul {
    display: flex;
    justify-content: left;
    flex-wrap: wrap;
    margin-left: calc(var(--header-indent) - 5px);
}
#ContactMe ul li {
    list-style-type: none;
    margin: 8px;
    flex-shrink: 1;
    text-decoration: underline;
    font-size: 70%;
}
#ContactMe ul li:hover {
    background-color: var(--color-2);
    color: var(--color-1);
    text-decoration: overline;
    opacity: 85%;
}
#ContactMe ul li a {
    font-size: inherit;
}
#ContactMe ul li a:hover {
    color: inherit;
    text-decoration: inherit;
}
#ContactMe ul li:active {
    user-select: all;
}
/* ############################################# */
/* Styling the Footer */
footer {
    font-size: var(--footerfontsize);
    text-align: center;
    width: 100%;
}
/* ############################################# */
/* Media Queries for responsive design */
@media screen and (min-width: 768px) {
    #AboutMe {
        width: 30%;
    }
    #MyWork {
        width: 70%;
    }
    #ContactMe ul li {
        font-weight: 900;
        width: fit-content;
        font-size: 110%;
    }
    .card {
        max-width: 10%;
    }
    .card:first-of-type {
        max-width: 40%;
    }
}
@media screen and (max-width: 425px) {
    .card {
        width: 100%;
    }
    .card > h3 {
        font-size: var(--smallfontsize);
    }
}